body {
  min-height: 2100px;
}
.jumbotron {
  padding-top: 7rem;
  background-color: #d5e1e6;
}

#project {
  background-color: #d5e1e6;
}

.navbar .nav-link {
  color: #fff !important;
}

.uniform-img {
  width: 100%; /* Gambar menyesuaikan lebar kartu */
  height: auto; /* Tinggi gambar menyesuaikan agar proporsional */
  max-height: 300px; /* Batasi tinggi maksimum (opsional) */
  object-fit: cover; /* Potong gambar jika tidak sesuai proporsi */
  border-radius: 5px; /* Opsional, efek sudut membulat */
}
